

<h1>Creacion de formularios</h1>

<form id="create_posts" action="/pages/create" method="get">
    <div class="form-group">
        <label for="titulo">Titulo </label>
        <input name="title" class="form-control" >
    </div>
        <label for="imagen">Imagen </label>
        <input name="img_url" class="form-control" >
    <div class="form-group mt-3">
        <label for="content">Contenido</label>
        <textarea name="content" class="form-control" cols="20" rows="3"></textarea>
     </div>   

        <button type="submit" value="Enviar" class="btn btn-primary btn-lg">Enviar</button>
    

</form>
